@import 'variables.css';

.rcs-sharebutton--round-square {
  align-items: center;
  background: currentColor;
  border: 0;
  border-radius: 8%;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  margin: 3px;
  transition: 0.3s;
  width: 44px;

  & > svg {
    fill: #fff;
    height: 50%;
    transform: rotate(0) scale(1);
    transition: 0.5s;
    width: 50%;
  }

  @apply --network-colors;
}

@media (hover: hover) {
  .rcs-sharebutton--round-square:hover {
    box-shadow: none;
  }

  .rcs-sharebutton--round-square:hover > svg {
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 1));
    transform: rotate(360deg) scale(1.2);
  }
}

@media (--mobile) {
  .rcs-sharebutton--round-square {
    margin: 5px;
  }
}

@media (--tablet) {
  .rcs-sharebutton--round-square {
    margin: 7px;
  }
}

@media (--desktop) {
  .rcs-sharebutton--round-square {
    margin: 10px;
  }
}
