.rcs-sharebutton--round-square {
  align-items: center;
  background: currentColor;
  border: 0;
  border-radius: 8%;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  margin: 3px;
  transition: 0.3s;
  width: 44px;

  & > svg {
    fill: #fff;
    height: 50%;
    transform: rotate(0) scale(1);
    transition: 0.5s;
    width: 50%;
  }

  &.rcs-facebook {
    color: #507cbe;
  }

  &.rcs-googleplus {
    color: #f16261;
  }

  &.rcs-twitter {
    color: #63cdf1;
  }

  &.rcs-email {
    color: #fcc95d;
  }

  &.rcs-pinterest {
    color: #f16261;
  }

  &.rcs-linkedin {
    color: #90cadd;
  }
}

@media (hover: hover) {
  .rcs-sharebutton--round-square:hover {
    box-shadow: none;
  }

  .rcs-sharebutton--round-square:hover > svg {
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 1));
    transform: rotate(360deg) scale(1.2);
  }
}

@media screen and (min-width: 330px) {
  .rcs-sharebutton--round-square {
    margin: 5px;
  }
}

@media screen and (min-width: 600px) {
  .rcs-sharebutton--round-square {
    margin: 7px;
  }
}

@media screen and (min-width: 1025px) {
  .rcs-sharebutton--round-square {
    margin: 10px;
  }
}
