.rcs-sharebutton--rectangle {
  align-items: center;
  background: currentColor;
  border: 0;
  color: #666;
  cursor: pointer;
  display: flex;
  flex-basis: 44px;
  flex-grow: 1;
  justify-content: center;
  min-height: 44px;
  overflow: hidden;
  transform: scale(1);

  & > svg {
    fill: #fff;
    height: 24px;
    transition: 0.3s;
    width: 24px;
  }

  &.rcs-facebook {
    color: #507cbe;
  }

  &.rcs-googleplus {
    color: #f16261;
  }

  &.rcs-twitter {
    color: #63cdf1;
  }

  &.rcs-email {
    color: #fcc95d;
  }

  &.rcs-pinterest {
    color: #f16261;
  }

  &.rcs-linkedin {
    color: #90cadd;
  }
}

@media (hover: hover) {
  .rcs-sharebutton--rectangle:hover > svg {
    transform: rotate(-5deg) scale(3);
  }
}
