.rcs-sharebutton--rectangle {
  align-items: center;
  background: currentColor;
  border: 0;
  cursor: pointer;
  color: #666;
  display: flex;
  flex-basis: 44px;
  flex-grow: 1;
  justify-content: center;
  min-height: 44px;
  overflow: hidden;
  transform: scale(1);
}

.rcs-sharebutton--rectangle > svg {
  fill: #ffffff;
  height: 24px;
  transition: 0.3s;
  width: 24px;
}

@media (hover: hover) {
  .rcs-sharebutton--rectangle:hover > svg {
    transform: rotate(-5deg) scale(3);
  }
}

.rcs-sharebutton--rectangle.rcs-facebook {
  color: #507cbe;
}
.rcs-sharebutton--rectangle.rcs-googleplus {
  color: #f16261;
}
.rcs-sharebutton--rectangle.rcs-twitter {
  color: #63cdf1;
}
.rcs-sharebutton--rectangle.rcs-email {
  color: #fcc95d;
}
.rcs-sharebutton--rectangle.rcs-pinterest {
  color: #f16261;
}
.rcs-sharebutton--rectangle.rcs-linkedin {
  color: #90cadd;
}
