:root {
  --facebookColor: rgba(80, 124, 190, 1);
  --twitterColor: rgba(241, 98, 97, 1);
  --googleplusColor: rgba(99, 205, 241, 1);
  --emailColor: rgba(252, 201, 93, 1);
  --pinterestColor: rgba(241, 98, 97, 1);
  --linkedinColor: rgba(144, 202, 221, 1);
}

.facebook {
  color: var(--facebookColor);
}

.googleplus {
  color: var(--twitterColor);
}

.twitter {
  color: var(--googleplusColor);
}

.email {
  color: var(--emailColor);
}

.pinterest {
  color: var(--pinterestColor);
}

.linkedin {
  color: var(--linkedinColor);
}
