@import 'variables.css';

.rcs-sharebutton--icon-only {
  align-items: center;
  background: none;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  margin: 1px;
  transition: 0.3s;
  width: 44px;

  & > svg {
    fill: currentColor;
    height: 65%;
    transition: transform 0.3s;
    width: 65%;
  }

  &:hover {
    background: currentColor;
    box-shadow: 0 0 10px currentColor;

    & > svg {
      fill: #fff;
    }
  }

  @apply --network-colors;
}

@media (any-hover: none) {
  .rcs-sharebutton--icon-only:hover {
    background: none;
    box-shadow: none;
  }

  .rcs-sharebutton--icon-only:hover > svg {
    fill: currentColor;
    transform: scale(1);
  }
}

@media (--mobile) {
  .rcs-sharebutton--icon-only {
    margin: 3px;
  }
}

@media (--tablet) {
  .rcs-sharebutton--icon-only {
    margin: 5px;
  }
}

@media (--desktop) {
  .rcs-sharebutton--icon-only {
    margin: 7px;
  }
}
