@import 'variables.css';

.rcs-sharebutton--outline {
  align-items: center;
  background: none;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 44px;
  justify-content: center;
  margin: 3px;
  transition: 0.3s;
  width: 44px;

  & > svg {
    fill: white;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
    height: 80%;
    transition: 0.3s;
    width: 80%;
  }

  @apply --network-colors;
}

@media (hover: hover) {
  .rcs-sharebutton--outline:hover > svg {
    fill: currentColor;

    /* filter: drop-shadow(0 0 1px currentColor); */
  }
}

@media (--mobile) {
  .rcs-sharebutton--outline {
    margin: 5px;
  }
}

@media (--tablet) {
  .rcs-sharebutton--outline {
    margin: 7px;
  }
}

@media (--desktop) {
  .rcs-sharebutton--outline {
    margin: 10px;
  }
}
